[submodule "Libraries/googletest"]
	path = Libraries/googletest
	url = git@github.com:google/googletest.git
[submodule "Libraries/glm"]
	path = Libraries/glm
	url = git@github.com:g-truc/glm.git
[submodule "Libraries/imgui"]
	path = Libraries/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "Libraries/PhysX"]
	path = Libraries/PhysX
	url = git@github.com:NVIDIA-Omniverse/PhysX.git
[submodule "Libraries/assimp"]
	path = Libraries/assimp
	url = git@github.com:assimp/assimp.git
